.option-card {
    position: relative;
    background: var(--bg-color-400);
    padding: 5px 10px;
    border-radius: 5px;
    isolation: isolate;

    &::before {
        position: absolute;
        z-index: -1;
        content: "";
        inset: -10px;
        background: var(--bg-color-900);
    }

    &:first-child::before {
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
    }

    &:last-child::before {
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
    }

    &::after {
        position: absolute;
        z-index: -1;
        content: "";
        inset: 0;
        background: var(--bg-color-400);
        border-radius: 5px;
    }

    & .option-card__title {
        color: var(--purpal)
    }

    & .option-card__desc {
        font-size: 14px;
    }

    & .actions {
        margin-top: 15px;
        display: grid;
        gap: 10px;
    }

    &.disable {
        & * {
            cursor: default !important;
        }

        & > *, &::after, & .actions {
            opacity: var(--card-disabled-opacity);
        }

        & .actions > * {
            opacity: var(--paragraph);
        }
    }
}
