.action {
    display: flex;
    justify-content: space-between;

    padding: 5px 7px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;

    opacity: var(--card-disabled-opacity);
    /*cursor: pointer;*/

    &:hover {
        transition: .3s;
        opacity: var(--paragraph);
    }

    &.current {
        /*cursor: pointer;*/
        opacity: 1;
        color: var(--yellow);
        border-color: var(--yellow);
    }

    &.done {
        /*cursor: pointer;*/
        opacity: 1;
        color: var(--green);
        border-color: var(--green);
    }

    & .action__title {
        text-transform: capitalize;
    }

    & .icons {
        display: flex;
        gap: 10px;

        & .pointer {
            cursor: pointer;
        }
    }
}
