:root {
    --bg-color-400: hsl(230, 57%, 12%);
    --bg-color-700: hsl(231, 53%, 10%); /*BG COLOR*/
    --bg-color-900: hsl(229, 60%, 7%);

    --bg-overlay: hsla(229, 57%, 5%, 50%);

    --paragraph: hsla(0, 0%, 100%, 50%);

    --purpal: hsl(273, 90%, 59%);
    --green: hsl(116, 69%, 31%);
    --blue-200: hsl(209, 72%, 55%);
    --blue-250: hsl(209, 55%, 50%);
    --blue-300: hsl(209, 76%, 38%);
    --blue-400: hsl(222, 76%, 34%);
    --yellow: hsl(47, 100%, 50%);
    --red: hsl(0, 80%, 58%);

    --form-bg: hsl(231, 53%, 10%);
    --form-shdow: 0 0 10px 5px rgba(0, 0, 0, 0.49);
    --form-field-bg: hsl(232, 52%, 8%);
    --form-field-placeholder: hsla(0, 0%, 100%, 20%);

    --purple-bg-opacity: hsla(272, 72%, 47%, 30%);
    --green-bg-opacity: hsla(129, 72%, 47%, 27%);

    --green-border: hsl(126, 90%, 59%);
    --blue-border: hsl(209, 76%, 38%);
    --purple-border: hsl(273, 90%, 59%);

    --card-disabled-opacity: .2;
}
